<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th><%= 'Customers' %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= 'Customer Icon' %></td>
        <td><%= 'Customer Name' %></td>
        <td><%= 'Orders Count' %></td>
        <td><%= 'Show Customer' %></td>
        <td><%= 'Edit Customer' %></td>
        <td><%= 'Delete Customer' %></td>
      </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= icon('fa-solid', 'user') %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.orders.count %></td>
        <td>
          <%= link_to 'Show', customer, class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-primary" %>
        </td>
        <td>
          <%= button_to "Delete", customer, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td>
          <%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>
        </td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>  
  </tbody>
</table>


