<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if flash[:alert].present? %>
        <p class="my_alert"><%= flash[:alert] %></p>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="container-fluid p-5 banner-background text-white text-left">
      <h1>Customers and Orders</h1>
      <p>A simple application that associates orders with customers</p> 
    </div>
    <%= yield %>
  </div>
  </body>
</html>
